<div class="hero-unit">
  <h1>Park's Pinterest Project</h1>
  
  <p>
    This is a clone of Pinterest, made by <a href="http://silkenson.com" target="_blank">Park</a> during the <%= link_to "One Month Rails", "http://onemonthrails.com" %> tutorial.
  </p>

  <p>
    <%= link_to("Sign up now!", "#",  class: "btn btn-primary btn-large") %>
  </p>
</div>