<h1>Welcome to Park's Pinterest Clone</h1>
<p>
  This is a clone of Pinterest, made by <a href="http://silkenson.com" target="_blank">Park</a> during the One Month Rails tutorial.

<p>
  <%= link_to "One Month Rails", "http://onemonthrails.com" %>
</p>
</p>

<p>
  <%= link_to("Sign up now!", "#") %>
</p>