<% if user_signed_in? %>
  <div class="hero-unit">
    <h1>You are signed in!</h1>
  </div>
<% else %>
  <div class="hero-unit">
    <h1>Park's Pinterest Project</h1>
    
    <p>
      This is a clone of Pinterest, made by <a href="http://silkenson.com" target="_blank">Park</a> during the <%= link_to "One Month Rails", "http://onemonthrails.com" %> tutorial.
    </p>

    <p>
      <%= link_to("Sign up now!", new_user_registration_path,  class: "btn btn-primary btn-large") %>
    </p>
  </div>
<% end %>